.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



body{
    margin: 57px 107px;
}

/* share style */

.bg-one{
    background: rgba(84, 144, 245, 0.2);
}

.bg-two{
    background: rgb(198, 228, 214);
}
.bg-three{
    background: rgb(247, 235, 207);
}
.space{
    margin-bottom: 32px;
}

.btn-primary{
    border-radius: 5px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
    padding: 11px 22px 11px 22px;
}

.section-title{
    font-size: 30px;
    font-family: Fira Sans;
    font-weight: bold;
    color: #0E0E0E;
}

.description{
    font-family: Fira Sans;
    font-size: 13px;
    color: rgba(14, 14, 14, 0.7);
}



.banner{
    display: flex;
    
    padding: 53px 67px 53px 67px;
    height: 375px;
    border-radius: 5px;
    background: rgb(198, 228, 214);
    gap: 42px;
}

.banner-content{
    max-width: 622px;
    font-family: Fira Sans;
    
}

.banner-subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}

.banner-title{
    color: rgb(14, 14, 14);
    font-size: 44px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    margin: 16px 0px;
}

.banner-profile{
    width: 474px;
    height: 329px;

}

/* main style */
main section{
    margin: 53px 0px 53px;
}


/* vision of future section */

.visions{
    height: 412px;
    
    font-family: Fira Sans;
}

.vision-container{
    display: flex;
    gap: 24px;
}

.vision{
    padding: 32px;
    border-radius: 5px;
    box-shadow: 0cap 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* news section */

.news-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.news-section{
    font-family: Fira Sans;
}

.news-letter{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.news-img{
    border-radius: 24px;
    width: 408px;
    height: 306px;
}

.date{
    display: flex;
    gap: 12px;
}





