.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body{
    margin: 57px 107px;
}

/* share style */
.btn-primary{
    border-radius: 5px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
    padding: 11px 22px 11px 22px;
}

.btn-primary:hover{
    background-color: #0056b3;
    transition: 3s;
}

.bg-one{
    background: rgba(84, 144, 245, 0.2);
}

.bg-two{
    background: rgb(198, 228, 214);
}
.bg-three{
    background: rgb(247, 235, 207);
}

.btn-two{
   background: #5490F5;
   border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
    padding: 11px 22px 11px 22px;
}
.btn-two:hover{
    background-color: whitesmoke;
    color: #0E0E0E;
    transition: 3s;
}

.btn-three{
    background: #09A15C;
    border-radius: 5px;
     color: rgb(255, 255, 255);
     font-family: Fira Sans;
     font-size: 12px;
     font-weight: 600;
     line-height: 14px;
     text-align: left;
     padding: 11px 22px 11px 22px;
 }
 .btn-three:hover{
     background-color: whitesmoke;
     color: #0E0E0E;
     transition: 3s;
 }
.btn-four{
    background: #FFC239;
    border-radius: 5px;
     color: rgb(255, 255, 255);
     font-family: Fira Sans;
     font-size: 12px;
     font-weight: 600;
     line-height: 14px;
     text-align: left;
     padding: 11px 22px 11px 22px;
 }
 .btn-four:hover{
     background-color: whitesmoke;
     color: #0E0E0E;
     transition: 3s;
 }

.space{
    margin-bottom: 32px;
}




.title{
    font-size: 32px;
    line-height: 24px;
    font-family: Fira Sans;
    font-weight: bold;
    color: #0E0E0E;
}

.description{
    font-family: Fira Sans;
    font-size: 13px;
    color: rgba(14, 14, 14, 0.7);
}


/* banner section */

.banner{
    display: flex;
    
    padding: 53px 67px 53px 67px;
    height: 375px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    gap: 42px;
}

.banner-content{
    max-width: 622px;
    font-family: Fira Sans;
    
}

.banner-subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}

.banner-title{
    color: rgb(14, 14, 14);
    font-size: 44px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    margin: 16px 0px;
}

.banner-profile{
    width: 474px;
    height: 329px;

}

/* main style */
main section{
    margin: 53px 0px 53px;
}


/* vision of future section */

.visions{
    height: 412px;
    
    font-family: Fira Sans;
}

.vision-container{
    display: flex;
    gap: 24px;
}

.vision-title{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}

.vision{
    padding: 32px;
    border-radius: 5px;
    box-shadow: 0cap 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.vision:hover{
    background-color: whitesmoke;
    transition: 3s;
}

.quotation{
    display: flex;
    flex-direction: column;
    height: 180px;
    margin: 32px 0;
    border: 1px solid rgba(14, 14, 14, 0.15);
    box-shadow: 0cap 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.quotation:hover{
    background-color: beige;
    transition: 3s;
}

.quote-bg{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: top left; 
    position: absolute;
}

.inner{
     height: 160;
}
.quote{
    text-align: justify;
    padding-right: 130px;
}

.subtitle{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    
}

/* news section */

.news-section{
    font-family: Fira Sans;
    margin-top: 300px
}


.news-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

.news-letter:hover{
    background-color: beige;
    transition: 3s;
}


.news-letter{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 32px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.news-img{
    border-radius: 24px;
    width: 408px;
    height: 306px;
}

.date{
    display: flex;
    gap: 12px;
}

/* donate section */

.donate{
    padding: 0 58px;
    font-family: Fira Sans;
}

.donate-title{
    text-align: center;
    
}

.donate-container{
    display: flex;
    gap: 24px; 
}

.donate-box{
    width: 240px;
    height: 128px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.donate-box:hover{
    background-color: beige;
    transition: 3s;
}

.taka{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding: 18px;
}


.amount{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    gap: 30px;
}

.send-amount{
    width: 850px;
    height: 42px;
    text-align: center;
}

.footer-section{
    height: 395;
    margin: 80px 0px;
    padding: 60px 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 24px;

}

.form{
    display: flex;
    justify-content: center;
}

.email{
    width: 402px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.submit{
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
    padding: 11px 22px 11px 22px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.submit:hover{
    background-color: #0063b3;
    transition: 3s;
}









